name: actionlint
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "**" ]
permissions: {}

jobs:
  actionlint:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: actionlint
        uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1.69.1
        with:
          reporter: github-check
          github_token: ${{ secrets.GITHUB_TOKEN }}
