name: test
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "**" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions: {}

jobs:
  test:
    permissions:
      contents: read
    strategy:
      matrix:
        # version must be string, otherwise it will be converted to float
        # and the trailing zero will be removed. 1.20 -> 1.2
        go-version: [ "1.24", "1.25" ]
        postgres-version: [ 18, 17, 16, 15, 14, 13 ]
    # Ensure that all combinations of Go and Postgres versions will run
    continue-on-error: true

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Environment variables that are available to all jobs and steps in this workflow
    env:
      TEST_POSTGRES_DSN: postgres://postgres:postgres@127.0.0.1:5432/postgres?sslmode=disable

    # Services are Docker containers that are run during a job
    services:
      # Start the postgres database
      postgres:
        image: postgres:${{ matrix.postgres-version }}
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      # Setting up Go in the runner
      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v5
        with:
          go-version: ${{ matrix.go-version }}

      # Runs Go tests
      - name: Run Go tests
        run: go test ./...
